In [1]:
%reset -f

from modules.pipeline import Pipeline
import openai
openai.api_key = 'sk-_ynWP8bFt1E-Lg6ZxIAt8YV1fdB8qU1SMkWCqMVRtmT3BlbkFJ_FWv5x5Oz1lT6vhGwUtODMSKo36FCBHBW30fYvD3sA' 

# Set the path to your SQLite database and the PDF documentation
db_file = 'chinook-database-master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite'
pdf_path = 'Chinook_Database_Enriched_Documentation.pdf'
user_query = "List who have purchased tracks from more than 7 different genres."

# Initialize the pipeline
pipeline = Pipeline(db_file, user_query, pdf_path)

# Run the pipeline
analysis = pipeline.run()

c:\Program Files\Python311\Lib\site-packages\sentence_transformers\cross_encoder\CrossEncoder.py:13: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from tqdm.autonotebook import tqdm, trange

Retrieved relevant documents based on similarity threshold of 0.75:
Extracting schema and foreign key relationships...
Extracting keywords using RoBERTa...
Extracted Keywords:
0       have purchased
1                 have
2               genres
3            more than
4     purchased tracks
5                 more
6                 List
7                 from
8               tracks
9                 than
10            who have
11    different genres
12           different
13         tracks from
14           from more
15                 who
16           purchased
17            List who
dtype: object
Mapping keywords to schema...
Relevant Tables: {'Track', 'Genre'}
Added necessary table: Customer
Added necessary table: Invoice

Top 10 Similarity Scores between Keywords and Columns:
            Keyword   Column  Similarity
0            genres  GenreId    0.778014
1            genres  GenreId    0.778014
2  different genres  GenreId    0.681228
3  different genres  GenreId    0.681228

Bottom 10 Similarity Scores between Keywords and Columns:
            Keyword   Column  Similarity
0            genres  GenreId    0.778014
1            genres  GenreId    0.778014
2  different genres  GenreId    0.681228
3  different genres  GenreId    0.681228
Mapped Columns: {'have purchased': [], 'have': [], 'genres': [('GenreId', np.float32(0.778014)), ('GenreId', np.float32(0.778014))], 'more than': [], 'purchased tracks': [], 'more': [], 'List': [], 'from': [], 'tracks': [], 'than': [], 'who have': [], 'different genres': [('GenreId', np.float32(0.6812279)), ('GenreId', np.float32(0.6812279))], 'different': [], 'tracks from': [], 'from more': [], 'who': [], 'purchased': [], 'List who': []}

Table Connections:

Table Connections:
    Track <-> Genre (From: GenreId, To: GenreId)
    Invoice <-> Customer (From: CustomerId, To: CustomerId)
Track <-> Genre (From: GenreId, To: GenreId)
Invoice <-> Customer (From: CustomerId, To: CustomerId)
Added Node: Track
Added Node: Genre
Added Node: Customer
Added Node: Invoice
Added Edge: Track -> Genre (From: GenreId, To: GenreId)
Added Edge: Invoice -> Customer (From: CustomerId, To: CustomerId)
Subschema Edges: [('Track', 'Genre', {'from_column': 'GenreId', 'to_column': 'GenreId'}), ('Customer', 'Invoice', {'from_column': 'CustomerId', 'to_column': 'CustomerId'})]

Subschema Nodes:
['Track', 'Genre', 'Customer', 'Invoice']

Subschema Edges (Foreign Key Joins with Column Info):
Track <-> Genre (From: GenreId, To: GenreId)
Customer <-> Invoice (From: CustomerId, To: CustomerId)

Join Paths:
    Customer -> Invoice (From: CustomerId, To: CustomerId)

Join Paths:
Customer -> Invoice (From: CustomerId, To: CustomerId)
Generating SQL query with LLM...
Generated SQL Query:
SELECT Customer.CustomerId, COUNT(DISTINCT Genre.GenreId) AS NumberOfDifferentGenres
FROM Customer
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
JOIN InvoiceLine ON Invoice.InvoiceId = InvoiceLine.InvoiceId
JOIN Track ON InvoiceLine.TrackId = Track.TrackId
JOIN Genre ON Track.GenreId = Genre.GenreId
GROUP BY Customer.CustomerId
HAVING COUNT(DISTINCT Genre.GenreId) > 7;
Executing SQL query...

SQL Query Results (Pandas DataFrame):

    CustomerId  NumberOfDifferentGenres
0            1                        8
1            3                       10
2            4                        8
3            5                        8
4            6                        9
5            7                        9
6           14                       10
7           15                        8
8           17                       10
9           19                        9
10          21                        9
11          22                        8
12          23                        9
13          24                       10
14          25                        8
15          27                        9
16          34                       10
17          37                       10
18          41                        9
19          43                        9
20          45                       11
21          46                        8
22          54                        8
23          57                       12
24          58                        8

Analyzing result with LLM...

Analysis:
All customers in the table have purchased tracks from more than 7 different genres. The customer IDs are: 1, 3, 4, 5, 6, 7, 14, 15, 17, 19, 21, 22, 23, 24, 25, 27, 34, 37, 41, 43, 45, 46, 54, 57, 58.

In [4]:
# Run the full pipeline
user_query = " List all employees who have sold tracks to customers in the same city."

pipeline = Pipeline(db_file, user_query, pdf_path)

# Run the pipeline
analysis = pipeline.run()

"""

SELECT Employee.FirstName, Employee.LastName, Customer.FirstName AS CustomerFirstName, Customer.LastName AS CustomerLastName, Customer.City
FROM Employee
JOIN Customer ON Employee.City = Customer.City
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
JOIN InvoiceLine ON Invoice.InvoiceId = InvoiceLine.InvoiceId
WHERE Employee.EmployeeId = InvoiceLine.InvoiceId;



"""

Retrieved relevant documents based on similarity threshold of 0.75:
Extracting schema and foreign key relationships...
Extracting keywords using RoBERTa...
Extracted Keywords:
0      customers in
1     all employees
2         same city
3         tracks to
4                to
5         customers
6          the same
7              same
8      to customers
9               all
10             List
11             city
12             have
13         who have
14         List all
15        have sold
16    employees who
17      sold tracks
18           in the
19              who
20           tracks
21               in
22             sold
23        employees
24              the
dtype: object
Mapping keywords to schema...
Relevant Tables: {'Customer', 'Track', 'Employee'}
Added necessary table: Invoice

Top 10 Similarity Scores between Keywords and Columns:
          Keyword      Column  Similarity
6            city        City    1.000000
7            city        City    1.000000
2       same city        City    0.743728
3       same city        City    0.743728
4       customers  CustomerId    0.667505
5       customers  CustomerId    0.667505
10      employees  EmployeeId    0.653937
9       employees     Company    0.632887
8   employees who  EmployeeId    0.612340
1    customers in  CustomerId    0.610961

Bottom 10 Similarity Scores between Keywords and Columns:
          Keyword      Column  Similarity
7            city        City    1.000000
2       same city        City    0.743728
3       same city        City    0.743728
4       customers  CustomerId    0.667505
5       customers  CustomerId    0.667505
10      employees  EmployeeId    0.653937
9       employees     Company    0.632887
8   employees who  EmployeeId    0.612340
1    customers in  CustomerId    0.610961
0    customers in  CustomerId    0.610961
Mapped Columns: {'customers in': [('CustomerId', np.float32(0.61096066)), ('CustomerId', np.float32(0.61096066))], 'all employees': [], 'same city': [('City', np.float32(0.74372756)), ('City', np.float32(0.74372756))], 'tracks to': [], 'to': [], 'customers': [('CustomerId', np.float32(0.66750455)), ('CustomerId', np.float32(0.66750455))], 'the same': [], 'same': [], 'to customers': [], 'all': [], 'List': [], 'city': [('City', np.float32(1.0000002)), ('City', np.float32(1.0000002))], 'have': [], 'who have': [], 'List all': [], 'have sold': [], 'employees who': [('EmployeeId', np.float32(0.61234033))], 'sold tracks': [], 'in the': [], 'who': [], 'tracks': [], 'in': [], 'sold': [], 'employees': [('EmployeeId', np.float32(0.6539374)), ('Company', np.float32(0.6328869))], 'the': []}

Table Connections:

Table Connections:
    Customer <-> Employee (From: SupportRepId, To: EmployeeId)
    Employee <-> Employee (From: ReportsTo, To: EmployeeId)
    Invoice <-> Customer (From: CustomerId, To: CustomerId)
Customer <-> Employee (From: SupportRepId, To: EmployeeId)
Employee <-> Employee (From: ReportsTo, To: EmployeeId)
Invoice <-> Customer (From: CustomerId, To: CustomerId)
Added Node: Customer
Added Node: Track
Added Node: Employee
Added Node: Invoice
Added Edge: Customer -> Employee (From: SupportRepId, To: EmployeeId)
Added Edge: Employee -> Employee (From: ReportsTo, To: EmployeeId)
Added Edge: Invoice -> Customer (From: CustomerId, To: CustomerId)
Subschema Edges: [('Customer', 'Employee', {'from_column': 'SupportRepId', 'to_column': 'EmployeeId'}), ('Customer', 'Invoice', {'from_column': 'CustomerId', 'to_column': 'CustomerId'}), ('Employee', 'Employee', {'from_column': 'ReportsTo', 'to_column': 'EmployeeId'})]

Subschema Nodes:
['Customer', 'Track', 'Employee', 'Invoice']

Subschema Edges (Foreign Key Joins with Column Info):
Customer <-> Employee (From: SupportRepId, To: EmployeeId)
Customer <-> Invoice (From: CustomerId, To: CustomerId)
Employee <-> Employee (From: ReportsTo, To: EmployeeId)

Join Paths:
    Customer -> Employee (From: SupportRepId, To: EmployeeId)
    Customer -> Invoice (From: CustomerId, To: CustomerId)

Join Paths:
Customer -> Employee (From: SupportRepId, To: EmployeeId)
Customer -> Invoice (From: CustomerId, To: CustomerId)
Generating SQL query with LLM...
Generated SQL Query:
SELECT Employee.*
FROM Employee
JOIN Customer ON Employee.EmployeeId = Customer.SupportRepId
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
GROUP BY Employee.EmployeeId
HAVING COUNT(DISTINCT Customer.City) = 1;
Executing SQL query...

SQL Query Results (Pandas DataFrame):

Empty DataFrame
Columns: [EmployeeId, LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email]
Index: []

Analyzing result with LLM...

Analysis:
The results table is empty, so there are no employees who have sold tracks to customers in the same city.

'\n\nSELECT Employee.FirstName, Employee.LastName, Customer.FirstName AS CustomerFirstName, Customer.LastName AS CustomerLastName, Customer.City\nFROM Employee\nJOIN Customer ON Employee.City = Customer.City\nJOIN Invoice ON Customer.CustomerId = Invoice.CustomerId\nJOIN InvoiceLine ON Invoice.InvoiceId = InvoiceLine.InvoiceId\nWHERE Employee.EmployeeId = InvoiceLine.InvoiceId;\n\n\n\n'

In [5]:
# Define the new user query
user_query = "Show the top 5 most purchased tracks along with the artist name."

# Initialize the pipeline
pipeline = Pipeline(db_file, user_query, pdf_path)

# Run the pipeline
analysis = pipeline.run()

# Print the analysis
print(analysis)


"""
    
SELECT Track.Name AS TrackName, Artist.Name AS ArtistName, COUNT(InvoiceLine.TrackId) AS PurchaseCount
FROM Track
JOIN Album ON Track.AlbumId = Album.AlbumId
JOIN Artist ON Album.ArtistId = Artist.ArtistId
JOIN InvoiceLine ON Track.TrackId = InvoiceLine.TrackId
GROUP BY Track.TrackId, Artist.Name
ORDER BY PurchaseCount DESC
LIMIT 5;

    
"""

Retrieved relevant documents based on similarity threshold of 0.75:
Extracting schema and foreign key relationships...
Extracting keywords using RoBERTa...
Extracted Keywords:
0           the artist
1             Show the
2          artist name
3                 with
4                  top
5                 Show
6       most purchased
7     purchased tracks
8         tracks along
9             with the
10          along with
11             the top
12                most
13                name
14              tracks
15               along
16              artist
17                 the
18           purchased
dtype: object
Mapping keywords to schema...
Relevant Tables: {'Artist', 'Track'}
Added necessary table: Customer
Added necessary table: Invoice

Top 10 Similarity Scores between Keywords and Columns:
       Keyword     Column  Similarity
4         name       Name    1.000000
5         name       Name    1.000000
0   the artist   ArtistId    0.761226
8       artist   ArtistId    0.758075
7         name   LastName    0.704335
6         name  FirstName    0.691963
1  artist name   ArtistId    0.686957
3  artist name       Name    0.631289
2  artist name       Name    0.631289

Bottom 10 Similarity Scores between Keywords and Columns:
       Keyword     Column  Similarity
4         name       Name    1.000000
5         name       Name    1.000000
0   the artist   ArtistId    0.761226
8       artist   ArtistId    0.758075
7         name   LastName    0.704335
6         name  FirstName    0.691963
1  artist name   ArtistId    0.686957
3  artist name       Name    0.631289
2  artist name       Name    0.631289
Mapped Columns: {'the artist': [('ArtistId', np.float32(0.76122594))], 'Show the': [], 'artist name': [('ArtistId', np.float32(0.68695676)), ('Name', np.float32(0.6312885)), ('Name', np.float32(0.6312885))], 'with': [], 'top': [], 'Show': [], 'most purchased': [], 'purchased tracks': [], 'tracks along': [], 'with the': [], 'along with': [], 'the top': [], 'most': [], 'name': [('Name', np.float32(1.0000001)), ('Name', np.float32(1.0000001)), ('LastName', np.float32(0.7043351))], 'tracks': [], 'along': [], 'artist': [('ArtistId', np.float32(0.7580754))], 'the': [], 'purchased': []}

Table Connections:

Table Connections:
    Invoice <-> Customer (From: CustomerId, To: CustomerId)
Invoice <-> Customer (From: CustomerId, To: CustomerId)
Added Node: Artist
Added Node: Track
Added Node: Customer
Added Node: Invoice
Added Edge: Invoice -> Customer (From: CustomerId, To: CustomerId)
Subschema Edges: [('Customer', 'Invoice', {'from_column': 'CustomerId', 'to_column': 'CustomerId'})]

Subschema Nodes:
['Artist', 'Track', 'Customer', 'Invoice']

Subschema Edges (Foreign Key Joins with Column Info):
Customer <-> Invoice (From: CustomerId, To: CustomerId)

Join Paths:
    Customer -> Invoice (From: CustomerId, To: CustomerId)

Join Paths:
Customer -> Invoice (From: CustomerId, To: CustomerId)
Generating SQL query with LLM...
Generated SQL Query:
SELECT Artist.name AS 'Artist Name', Track.name AS 'Track Name', COUNT(InvoiceLine.TrackId) AS 'Number of Purchases'
FROM Artist
JOIN Album ON Artist.ArtistId = Album.ArtistId
JOIN Track ON Album.AlbumId = Track.AlbumId
JOIN InvoiceLine ON Track.TrackId = InvoiceLine.TrackId
JOIN Invoice ON InvoiceLine.InvoiceId = Invoice.InvoiceId
JOIN Customer ON Invoice.CustomerId = Customer.CustomerId
GROUP BY Track.TrackId
ORDER BY COUNT(InvoiceLine.TrackId) DESC
LIMIT 5;
Executing SQL query...

SQL Query Results (Pandas DataFrame):

,Artist Name,Track Name,Number of Purchases
0,Emerson String Quartet,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",2
1,"Equale Brass Ensemble, John Eliot Gardiner & M...","Music for the Funeral of Queen Mary: VI. ""Thou...",2
2,"Academy of St. Martin in the Fields, Sir Nevil...","Suite No. 3 in D, BWV 1068: III. Gavotte I & II",2
3,Amy Winehouse,Rehab,2
4,Michael Tilson Thomas & San Francisco Symphony,"Symphonie Fantastique, Op. 14: V. Songe d'une ...",2

Analyzing result with LLM...

Analysis:
The top 5 most purchased tracks along with the artist name are:

1. "String Quartet No. 12 in C Minor, D. 703 "Quartettsatz"" by Emerson String Quartet
2. "Music for the Funeral of Queen Mary: VI. "Thou Knowest, Lord, the Secrets of Our Hearts"" by Equale Brass Ensemble, John Eliot Gardiner & Monteverdi Orchestra
3. "Suite No. 3 in D, BWV 1068: III. Gavotte I & II" by Academy of St. Martin in the Fields, Sir Neville Marriner
4. "Rehab" by Amy Winehouse
5. "Symphonie Fantastique
The top 5 most purchased tracks along with the artist name are:

1. "String Quartet No. 12 in C Minor, D. 703 "Quartettsatz"" by Emerson String Quartet
2. "Music for the Funeral of Queen Mary: VI. "Thou Knowest, Lord, the Secrets of Our Hearts"" by Equale Brass Ensemble, John Eliot Gardiner & Monteverdi Orchestra
3. "Suite No. 3 in D, BWV 1068: III. Gavotte I & II" by Academy of St. Martin in the Fields, Sir Neville Marriner
4. "Rehab" by Amy Winehouse
5. "Symphonie Fantastique

'\n    \nSELECT Track.Name AS TrackName, Artist.Name AS ArtistName, COUNT(InvoiceLine.TrackId) AS PurchaseCount\nFROM Track\nJOIN Album ON Track.AlbumId = Album.AlbumId\nJOIN Artist ON Album.ArtistId = Artist.ArtistId\nJOIN InvoiceLine ON Track.TrackId = InvoiceLine.TrackId\nGROUP BY Track.TrackId, Artist.Name\nORDER BY PurchaseCount DESC\nLIMIT 5;\n\n    \n'