In [1]:
from modules.pipeline import Pipeline
import openai
openai.api_key = 'sk-_ynWP8bFt1E-Lg6ZxIAt8YV1fdB8qU1SMkWCqMVRtmT3BlbkFJ_FWv5x5Oz1lT6vhGwUtODMSKo36FCBHBW30fYvD3sA' 

# Set the path to your SQLite database and the PDF documentation
db_file = 'chinook-database-master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite'
pdf_path = 'Chinook_Database_Enriched_Documentation.pdf'
user_query = "List customers who have purchased tracks from more than 2 different genres."

# Initialize the pipeline
pipeline = Pipeline(db_file, user_query, pdf_path)

# Run the pipeline
analysis = pipeline.run()

print(analysis)

c:\Program Files\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Retrieved relevant documents based on similarity threshold of 0.8:
Extracting schema and foreign key relationships...
Extracting keywords using RoBERTa...
Extracted Keywords:
0                      than
1               tracks from
2                      List
3                    genres
4                      have
5            from more than
6                 purchased
7            have purchased
8                 more than
9                      from
10    purchased tracks from
11                 who have
12                from more
13                customers
14                different
15                     more
16         purchased tracks
17           List customers
18       customers who have
19         different genres
20       List customers who
21            customers who
22    have purchased tracks
23         tracks from more
24                   tracks
25                      who
26       who have purchased
dtype: object
Mapping keywords to schema and creating subgraph with valid joins...

Table Connections:
    Invoice <-> Customer (From: CustomerId, To: CustomerId)
    Album <-> Artist (From: ArtistId, To: ArtistId)
    Track <-> MediaType (From: MediaTypeId, To: MediaTypeId)
    Track <-> Genre (From: GenreId, To: GenreId)
    Track <-> Album (From: AlbumId, To: AlbumId)
    PlaylistTrack <-> Track (From: TrackId, To: TrackId)
    PlaylistTrack <-> Playlist (From: PlaylistId, To: PlaylistId)
    Employee <-> Employee (From: ReportsTo, To: EmployeeId)
    Customer <-> Employee (From: SupportRepId, To: EmployeeId)

Table Connections:
Invoice <-> Customer (From: CustomerId, To: CustomerId)
Album <-> Artist (From: ArtistId, To: ArtistId)
Track <-> MediaType (From: MediaTypeId, To: MediaTypeId)
Track <-> Genre (From: GenreId, To: GenreId)
Track <-> Album (From: AlbumId, To: AlbumId)
PlaylistTrack <-> Track (From: TrackId, To: TrackId)
PlaylistTrack <-> Playlist (From: PlaylistId, To: PlaylistId)
Employee <-> Employee (From: ReportsTo, To: EmployeeId)
Customer <-> Employee (From: SupportRepId, To: EmployeeId)

Subschema Nodes:
['Invoice', 'Customer', 'Album', 'Artist', 'Track', 'MediaType', 'Genre', 'PlaylistTrack', 'Playlist', 'Employee']

Subschema Edges (Foreign Key Joins with Column Info):
Invoice <-> Customer (From: CustomerId, To: CustomerId)
Customer <-> Employee (From: SupportRepId, To: EmployeeId)
Album <-> Artist (From: ArtistId, To: ArtistId)
Album <-> Track (From: AlbumId, To: AlbumId)
Track <-> MediaType (From: MediaTypeId, To: MediaTypeId)
Track <-> Genre (From: GenreId, To: GenreId)
Track <-> PlaylistTrack (From: TrackId, To: TrackId)
PlaylistTrack <-> Playlist (From: PlaylistId, To: PlaylistId)
Employee <-> Employee (From: ReportsTo, To: EmployeeId)

Join Paths:
    Customer -> Invoice (From: CustomerId, To: CustomerId)
    Customer -> Employee (From: SupportRepId, To: EmployeeId)

Join Paths:
Customer -> Invoice (From: CustomerId, To: CustomerId)
Customer -> Employee (From: SupportRepId, To: EmployeeId)
Generating SQL query with LLM...
Generated SQL Query:
SELECT Customer.CustomerId, Customer.FirstName, Customer.LastName
FROM Customer
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
JOIN InvoiceLine ON Invoice.InvoiceId = InvoiceLine.InvoiceId
JOIN Track ON InvoiceLine.TrackId = Track.TrackId
JOIN Genre ON Track.GenreId = Genre.GenreId
GROUP BY Customer.CustomerId
HAVING COUNT(DISTINCT Genre.GenreId) > 2;
Executing SQL query...

SQL Query Results (Pandas DataFrame):

    CustomerId  FirstName      LastName
0            1       Luís     Gonçalves
1            2     Leonie        Köhler
2            3   François      Tremblay
3            4      Bjørn        Hansen
4            5  František   Wichterlová
5            6     Helena          Holý
6            7     Astrid        Gruber
7            8       Daan       Peeters
8            9       Kara       Nielsen
9           10    Eduardo       Martins
10          11  Alexandre         Rocha
11          12    Roberto       Almeida
12          13   Fernanda         Ramos
13          14       Mark       Philips
14          15   Jennifer      Peterson
15          16      Frank        Harris
16          17       Jack         Smith
17          18   Michelle        Brooks
18          19        Tim         Goyer
19          20        Dan        Miller
20          21      Kathy         Chase
21          22    Heather       Leacock
22          23       John        Gordon
23          24      Frank       Ralston
24          25     Victor       Stevens
25          26    Richard    Cunningham
26          27    Patrick          Gray
27          28      Julia       Barnett
28          29     Robert         Brown
29          30     Edward       Francis
30          31     Martha          Silk
31          32      Aaron      Mitchell
32          33      Ellie      Sullivan
33          34       João     Fernandes
34          35   Madalena       Sampaio
35          36     Hannah     Schneider
36          37       Fynn    Zimmermann
37          38     Niklas      Schröder
38          39    Camille       Bernard
39          40  Dominique      Lefebvre
40          41       Marc        Dubois
41          42      Wyatt        Girard
42          43   Isabelle       Mercier
43          44      Terhi    Hämäläinen
44          45   Ladislav        Kovács
45          46       Hugh      O'Reilly
46          47      Lucas       Mancini
47          48   Johannes  Van der Berg
48          49  Stanisław        Wójcik
49          50    Enrique         Muñoz
50          51     Joakim     Johansson
51          52       Emma         Jones
52          53       Phil        Hughes
53          54      Steve        Murray
54          55       Mark        Taylor
55          56      Diego     Gutiérrez
56          57       Luis         Rojas
57          58      Manoj        Pareek
58          59       Puja    Srivastava

Analyzing result with LLM...

Analysis:
The provided table does not contain information about the genres of tracks purchased by customers. Therefore, it's impossible to list customers who have purchased tracks from more than 2 different genres based on this table.
The provided table does not contain information about the genres of tracks purchased by customers. Therefore, it's impossible to list customers who have purchased tracks from more than 2 different genres based on this table.

In [ ]:
# Run the full pipeline
db_file = 'chinook-database-master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite'
user_query = " List all employees who have sold tracks to customers in the same city."
run_full_pipeline(user_query, db_file, pdf_file_path)

"""

SELECT Customer.FirstName, Customer.LastName, COUNT(DISTINCT Genre.Name) AS GenreCount
FROM Customer
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
JOIN InvoiceLine ON Invoice.InvoiceId = InvoiceLine.InvoiceId
JOIN Track ON InvoiceLine.TrackId = Track.TrackId
JOIN Genre ON Track.GenreId = Genre.GenreId
GROUP BY Customer.CustomerId
HAVING GenreCount > 2;


"""

In [ ]:
# Run the full pipeline
user_query = " List all employees who have sold tracks to customers in the same city."
run_pipeline_with_semantic_search(user_query, db_file)

"""

SELECT Employee.FirstName, Employee.LastName, Customer.FirstName AS CustomerFirstName, Customer.LastName AS CustomerLastName, Customer.City
FROM Employee
JOIN Customer ON Employee.City = Customer.City
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
JOIN InvoiceLine ON Invoice.InvoiceId = InvoiceLine.InvoiceId
WHERE Employee.EmployeeId = InvoiceLine.InvoiceId;



"""

In [ ]:
# Import the necessary libraries
from eralchemy import render_er
from IPython.display import Image
import os

# Get the absolute path to your SQLite database
db_path = os.path.abspath('chinook-database-master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite')

# Form the correct SQLAlchemy URL
db_url = f'sqlite:///{db_path}'

# Generate ERD and save it as a PNG image
output_file = 'chinook_erd.png'
render_er(db_url, output_file)

# Display the generated ERD
img = Image(output_file)
img